---
import Layout from "../../layouts/Layout.astro";
import { Product as CrystallizeProduct } from "../../components/product";
import {
  hardcodedProducts,
  hardcodedProductsBySlug,
} from "../../use-cases/data/products";

export const prerender = true;

export async function getStaticPaths() {
  return hardcodedProducts.map((product) => ({
    params: { product: product.slug },
  }));
}

const { product } = Astro.params;
const productData = product ? hardcodedProductsBySlug[product] : undefined;
---

<Layout
  title={productData?.name ?? "Product"}
  description={productData?.summary ?? "Product details."}>
  <div class="mx-auto w-full max-w-[1040px] lg:px-0 px-5">
    {
      productData ? (
        <CrystallizeProduct product={productData} client:load />
      ) : (
        <p>Product not found</p>
      )
    }
  </div>
</Layout>
